.fluid-type {
    $map: (320px: 14px, 375px: 16px);

    @include poly-fluid-sizing("font-size", $map);

    p {
        font-size: 1em;
        font-weight: 400;

        //Landscape phone
        @media only screen and #{$screen-below-md} and (orientation: landscape) {
            font-size: 0.5em;
        }
    }

    h1 {}

    h2 {
        font-size: 1.5em;
        @media screen and #{$screen-sm-up} {

        }
        @media screen and #{$screen-md-up} {

        }
        font-weight: 400;

        margin-top: 0;
        padding-bottom: .25em;
    }

    h3 {}

    h4 {}

    .bolder {
        font-weight: 600;
    }



    .virtual-guide {
        line-height: 1;
        color: $palette-1;
        font-weight: 400;

        i {
            margin-left: .5em;
        }

        i:before {
            font-size: 80%;
            line-height: 1;
        }
    }

    .container-fixed-fluid {
        width: 90%;
        max-width: 50em;
        margin: auto;
        max-height: 80vh;
        overflow: hidden;
    }
}


