.onepage-section {
    position: relative;
    background-color: rgba($palette-4, 0.85);
    color: white;

    a {
        color: white;
    }

    article {
        margin-bottom: 0px !important;
    }
}

