header#site-header {
    z-index: $level-top;
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;

    .logotype {
        svg {
            width: auto;
        }
    }

    .navbar {
        font-weight: 500;
    }

    .navbar li.current a,
    .navbar li.current-menu-item a{
        text-decoration: none;
    }
}
