.navbar {
    font-weight: 500;
}

.navbar li.current a,
.navbar li.current-menu-item a{
    text-decoration: none;
}

.header-jumbo .logotype svg {
    max-width: 100% !important;
    height: auto !important;
    max-height: 50px;
}

#main-menu {
    li > a {

        @media #{$screen-md-up} {
            font-size: 0.7em !important;
        }

        @media #{$screen-lg-up} {
            font-size: 0.8em !important;
        }

        @media #{$screen-xl-up} {
            font-size: 1em !important;
        }
    }

    li.menu-item-social {
        svg {
            width: 20px;
            height: 20px;
            opacity: 1 !important;
        }
    }

    .menu-item-search {
        float: none;
    }
}
