.o-article {
    &.o-article--section {
        padding: 45px 30px;

        @media screen and #{$screen-md-up} {
            padding: 75px 45px;
        }
    }

    &.o-article--blue {
        @include overlay($palette-2, 0.8);
        &:before {
            z-index: -1;
        }
    }
}
