$dot-size: 15px;
$border-size: 2px;

#one-page-elevator {
    z-index: $level-8;
    position: fixed;
    top: 0;
    right: auto;
    bottom: 70px;
    left: 10px;
    width: $elevator-nav-width;
    height: calc(100% - $nav-height);
    background-color: $palette-3;

    @media #{$screen-sm-up} {
        left: 17px;
    }

    @media #{$screen-md-up} {
        left: 20px;
    }

    @media #{$screen-lg-up} {
        left: 25px;
    }

    li {
        display: block;
        height: 20%;

        &.active {
            .blipper-disabled {
                opacity: 0;
            }

            .blipper {
                opacity: 1;
            }
        }

        a {
            color: #fff;
            line-height: $dot-size;
            text-decoration: none;
            font-weight: bold;
            white-space: nowrap;

            @include center();
            @include antialias();

            span.height-indicator {
                margin-left: .2em;
            }
        }

        .blipper-theme-1, .blipper-theme-1:after, .blipper-theme-1:before {
            background-color: #fff;
        }

        .blipper-disabled,
        .blipper {
            transition: 200ms opacity;
            content: "";
            display: inline-block;
            width: calc(#{$dot-size} - #{$border-size}/2);
            height: calc(#{$dot-size} - #{$border-size}/2);
            border-radius: 50%;
            border: $border-size solid #fff;
        }

        .blipper-disabled {
            opacity: 1;
        }

        .blipper {
            opacity: 0;
            width: #{$dot-size};
            height: #{$dot-size};
            border: none;
            position: absolute;
        }

        .height-indicator {
            line-height: $dot-size - 5;
            text-indent: $grid-gutter-sm / 3;
            display: inline-block;
        }
    }
}



&.admin-bar {
    #one-page-elevator {
        margin-top: $admin-bar-height;

        li {
            height: calc((100vh - #{$nav-height} - #{$admin-bar-height}) / 5);
        }
    }
}
