.event-archive {

	.title-date {
		font-weight: 300;
	}

	.box-post-brick {
		display: block;
		background-color: #5ba1d8 !important;
		color: #fff;

    	&:hover {
			.box-content {
        		transform: none;
    		}
		}

    	&.brick-columns-4 {
    		height: auto;
    	}

    	.box-image {
    		position: static;
			height: 220px;

	    	&::after {
	            background: none;
	        }
    	}

		.box-content {
			position: static;
			padding: 10px 15px;
        	background: #5ba1d8;
    	}

    	.box-post-event-date {
    		display: block;
  			font-weight: 600;
    	}

    	.box-post-event-title {
    		display: block;
			font-weight: 300;
    	}

	}



}
