.layer-wrapper {
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: $level-bottom;
    postion: relative;
}

.layer {
    bottom: 50px;
    left: 10px;
    width: calc(100% - 10px);
    @media #{$screen-md-up} and (orientation: portrait) {
        left: 17px;
        width: calc(100% - 17px);
    }
    @media #{$screen-md-up} {
        left: 125px;
        width: calc(100% - 125px);
    }

    position: fixed;
    transition: transform 500ms ease-out, opacity 500ms ease-in;
}

.layer-gras {
    @media screen and #{$screen-md-up} {
        bottom: 0;
    }
    @media screen and #{$screen-xl-up} {
        bottom: 100px;
    }
    transition: transform 500ms linear, opacity 500ms ease-in;
}

.layer img {
    width: 100%;
    height: auto;
}

.layer.depth-1 {
    z-index: $level-1;
}

.layer.depth-2 {
    z-index: $level-2;
}

.layer.depth-3 {
    z-index: $level-3;
}

.layer.depth-4 {
    z-index: $level-4;
}

@mixin transformLayer($layer-map) {
    @each $key, $value in $layer-map {
        @each $selector, $transform in map-get($layer-map, $key) {
            .#{$selector} .#{$key} {
                transform: $transform;
            }
        }
    }
}

@media screen {
    $transform: (
        layer-tower: (
            active-section-4: translateY(0),
            active-section-3: translateY(30vw),
            active-section-2: translateY(90vw),
            active-section-1: translateY(160vw),
            active-section-0: translateY(200vw)
        ),
        layer-gras: (
            active-section-4: translateY(0),
            active-section-3: translateY(3vw),
            active-section-2: translateY(6vw),
            active-section-1: translateY(9vw),
            active-section-0: translateY(12vw)
        )
    );
    @include transformLayer($transform);
}

.layer-tower-top {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease;

     transform: translateY(5vw);

}
.active-section-0 {
    .layer-tower, .layer-gras {
        opacity: 0;
    }
    .layer-tower-top {
             transform: translateY(0);
        opacity: 1;
    }

}
@media screen and (orientation: portrait) {
    $transform: (
        layer-tower: (
            active-section-4: translateY(0),
            active-section-3: translateY(-20vw) scale(1.5),
            active-section-2: translateY(60vw),
            active-section-1: translateY(120vw),
            active-section-0: translateY(180vw)
        )
    );
    @include transformLayer($transform);
}
