.modal-karnan {
    min-width: 100vw;
    min-height: 100vh;
}

.modal-karnan .btn-close {
    top: 2rem;
    right: 2rem;
}

.modal-karnan .modal-header {
    border-bottom: none;
    padding: 2rem;
    margin-bottom: 2rem;
}

.modal-karnan .modal-body {
    background: none;
    padding-bottom: 6rem;

    .content img {
        float: left;
        max-width: 33vw;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
    }

    .image img {
        max-width: 100%;
        max-height: 80vh;
    }

    [class*="grid-"] > * + * {
        margin-top: 1rem;
    }

    .content {
        clear: both;
    }
}

.modal-karnan .modal-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.modal-360 {
    overflow: hidden;
    .modal-body {
        padding-bottom: 0px;
    }
    iframe {
        height: calc(100vh - 6rem);
    }
}


.modal-karnan .container {
    max-width: 900px;

    @media screen and #{$screen-lg-up} {
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
    }
}
