div[class*="modularity-mod-section"] {
    .section-featured .section-image img[src$=".svg"], .section-featured .section-image svg  {
         max-width: 200px !important;
    }

	.section-image-caption {
		padding: 1em;
		text-align: center;
	}
}
