.parallax-enabled {

    div[id^="parallax-level-"], div[id*=" parallax-level-"] {
        background: top center no-repeat;
        background-size: 105% auto;
    }

    #parallax-level-1 {
        background-image: url('http://skyworks.enormo.us/assets/img/bg.jpg');
    }

    #parallax-level-2 {
        background-image: url('http://skyworks.enormo.us/assets/img/mounts_4.png');
    }

    #parallax-level-3 {

    }

}
