#one-page-content {
    z-index: $level-3;
    position: relative;

    section {
        min-height: calc(100vh - 70px);
        width: 100%;
        position: relative;
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    section + section {
        margin-top: 0;
    }

    #inner {
        @media screen and #{$screen-md-up} {
            padding-left: 100px;
        }
    }

    #inner {
        @include overlay($palette-2, 0.8);
        &:before {
            z-index: $level-2;
            height: 110%;
            min-height: 110vh;
        }
    }

    #inner .onepage-section {
        position: relative;
        z-index: $level-2;
        -webkit-transform: translate3d(0, 0, 0);
        overflow: hidden;

        padding-bottom: $nav-height;
        @media screen and #{$screen-sm-up} {
            padding-bottom: $navbar-md-height;
        }
    }
}

#one-page-content article {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        max-width: 35em;

        color: white;

        h1, h2, h3, h4, h5, h6 {
            color: #fff;
        }

        .rendered-header {
            display: block;
            border-bottom: 2px solid #fff;
            padding-bottom: $grid-gutter-sm;
        }

        &.animate {
            opacity: 0;
        }

        &.animated {
            animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        }

        .box-content {
            padding: 20px;
        }

        .label {
            padding: 0;
            border-radius: 0;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 50px;
            line-height: 50px;
            font-size: 1.9em;
            color: #fff;
            background: none;
        }

        .label .inner {
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            transform: rotate(90deg);
            display: inline-block;
            transform-origin: 17px 48px;
            width: 400px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            .first-word {
                font-weight: 600;
            }
        }

        .virtual-guide {
            text-decoration: none;
            margin-top: $grid-gutter-md;

            i.pricon {
                vertical-align: text-top;
            }

            @media #{$screen-xs} {
                font-size: 1.3em;
            }

            @media #{$screen-sm} {
                font-size: 1.4em;
            }
        }
}

#one-page-content {
    .onepage-section .container {
        transition: opacity 500ms ease-in;
        transition-delay: 300ms;
        opacity: 0;
    }

    .onepage-section.active-section .container {
        opacity: 1;
    }
}


#inner:before {
    transition: opacity 250ms ease;
    opacity: 1;
}
.motion #inner:before {
    opacity: 0 !important;
        transition: none;
}

.onepage-section .nav-links.horizontal a {
    i {
        transition: all 200ms;
    }

    &:hover {
        color: #fff;
    }

    &:hover i {
        transform: scale(1.1);
    }
}

.onepage-section .nav-links.horizontal a {
    display: none;
    animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.onepage-section.active-section .nav-links.horizontal a {
    display: inline-block;

    &:nth-child(1) {
        animation-delay: 600ms;
    }

    &:nth-child(2) {
        animation-delay: 800ms;
    }

    &:nth-child(3) {
        animation-delay: 1000ms;
    }

    &:nth-child(4) {
        animation-delay: 1200ms;
    }

    &:nth-child(5) {
        animation-delay: 1400ms;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2017-11-16 11:10:31
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
@keyframes fade-in-bck {
  0% {
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}


