$dot-size: 15px;
$border-size: 3px;

#one-page-elevator {
    z-index: $level-4;
    position: fixed;
    top: 0;
    right: auto;
    bottom: 70px;
    left: 10px;
    max-width: 100px;
    background: rgba(#fff, 0.5);
    display: flex;
    flex-direction: column;
    align-content: stretch;

    @media #{$screen-sm-up} {
        left: 17px;
    }

    @media #{$screen-md-up} {
        left: 20px;
    }

    @media #{$screen-lg-up} {
        left: 25px;
    }

    li {
        flex-grow: 1;
        display: flex;
        align-items: center;
        position: relative;

        &.active {
            .blipper-disabled {
                opacity: 0;
            }

            .blipper {
                opacity: 1;
            }
        }

        a {
            display: table-cell;
            line-height: $dot-size;
            text-decoration: none;
            font-weight: bold;
            color: $palette-2;
            vertical-align: middle;
            height: 100%;
            padding: 0 ($grid-gutter-md / 2);
        }

        .blipper-disabled,
        .blipper {
            transition: 200ms opacity;
            content: "";
            display: inline-block;
            width: calc(#{$dot-size} - #{$border-size}/2);
            height: calc(#{$dot-size} - #{$border-size}/2);
            border-radius: 50%;
            border: $border-size solid $palette-2;
        }

        .blipper-disabled {
            opacity: 1;
        }

        .blipper {
            opacity: 0;
            width: #{$dot-size};
            height: #{$dot-size};
            border: none;
            position: absolute;
        }

        .height-indicator {
            line-height: $dot-size - 5;
            text-indent: $grid-gutter-sm / 3;
            display: inline-block;
        }
    }
}

&.admin-bar {
    #one-page-elevator {
        margin-top: $admin-bar-height;

        li {
            height: calc((100vh - #{$nav-height} - #{$admin-bar-height}) / 5);
        }
    }
}
