.scroll-action-wrapper {
    z-index: $level-top;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    &.up {
        top: 1.5rem;
    }

    &.down {
        bottom: calc(1.5rem + #{$nav-height});
    }

    @media screen and #{$screen-md-up} {
        margin-left: $stripe-md-width * 1.2;

        &.up {
            top: 1.5rem;
        }

        &.down {
            bottom: calc((1.5rem + #{$nav-height}) * 1.2);
        }
    }
}


.scroll-action {
    @include antialias();
    opacity: 1;
    color: white !important;
    font-size: 15px;
    font-weight: bold;

    &:focus, &:active {
        text-decoration: none;
    }

    &.disabled {
        display: none;
    }

    &.scroll-up {

        animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation-delay: 200ms;

        &.animation-disable {
            animation: none;
        }

        @include pr-icon(after, pricon-arrow-up) {
            font-size: 18px;
        }

        @media screen and #{$screen-md-up} {
            &:after {
                font-size: inherit;
                margin-left: 0.5em;
            }
        }
    }

    &.scroll-down {

        animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation-delay: 200ms;

        &.animation-disable {
            animation: none;
        }

        @include pr-icon(after, pricon-arrow-down) {
            font-size: 18px;
        }
        @media screen and #{$screen-md-up} {
            &:after {
                font-size: inherit;
                margin-left: 0.5em;
            }
        }
    }

}

&.admin-bar {
    .scroll-action.scroll-up {
        margin-top: $admin-bar-height;
    }
}

.scroll-action.scroll-up .video-text {
    display: none;
}

&.active-item-1,
&.active-item-0 {
    .scroll-action.scroll-up .standard-text {
        display: none;
    }

    .scroll-action.scroll-up .video-text {
        display: inline;
    }
}


@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

