$dot-size: 20px;
$border-size: 3px;

#one-page-elevator {
    z-index: $level-4;
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: 25px;
    background: rgba(#fff, .5);
    max-width: 100px;

    li {
        display: table;
        height: 20vh;
        position: relative;

        a {
            display: table-cell;
            line-height: $dot-size;
            text-decoration: none;
            font-weight: bold;
            color: $palette-2;
            vertical-align: middle;
            height: 100%;
            padding-left: 10px;
        }

        .blipper-disabled,
        .blipper {
            content: "";
            display: inline-block;
            width: calc(#{$dot-size} - #{$border-size});
            height: calc(#{$dot-size} - #{$border-size});
            border-radius: 50%;
            border: $border-size solid $palette-2;
        }

        .blipper {
            display: none;
            width: #{$dot-size};
            height: #{$dot-size};
            border: none;
        }

        &.active {

            .blipper-disabled {
                display: none;
            }

            .blipper {
                display: inline-block;
            }
        }

        .height-indicator {
        }

    }
}
