.parallax-enabled {
    position: relative;

    div[id^="parallax-level-"],
    div[id*=" parallax-level-"] {
        background: top center no-repeat;
        background-size: 105% auto;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #parallax-level-1 {
        background-image: url('../../image/city.jpg');
        background-size: auto 140vh;
    }

    #parallax-level-2 {
        /*background-image: url('http://skyworks.enormo.us/assets/img/mounts_4.png');*/
    }

    #parallax-level-3 {
        background-image: url('../../image/edge.png');
        background-size: 105% auto;
        background-position: bottom center;
        position: absolute;
        top: auto;
        height: 100vh;
    }

}
.pixel-wrapper {
    position: relative;
    top: 400px;
    width: 300px;
    height: 3000px;
    margin: 0 auto;
}

/*

.pixel {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: white;
}

.pixel:nth-child(2)  { left: 30px;  }
.pixel:nth-child(3)  { left: 60px;  }
.pixel:nth-child(4)  { left: 90px;  }
.pixel:nth-child(5)  { left: 120px; }
.pixel:nth-child(6)  { left: 150px; }
.pixel:nth-child(7)  { left: 180px; }
.pixel:nth-child(8)  { left: 210px; }
.pixel:nth-child(9)  { left: 240px; }
.pixel:nth-child(10) { left: 270px; }
*/
