#preloader {
    @include cover();
    position: fixed;

    z-index: $level-9;
    background-color: $palette-2;

    #preloader-blipper {
        @include center();
        z-index: $level-9;

        .blipper {
          background-color: transparent;
          width: 170px;
          height: 170px;
        }
    }

    #preloader-content {
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      z-index: $level-top;
      @include center();
      color: #fff;
      text-align: center;
      font-size: 2em;
      font-weight: bold;
    }

    #preloader-icon {
      display: block;
      svg {
        height: 150px;
        width: 150px;
        filter: drop-shadow(0 0 3px rgba(#000,.3));
      }
    }

    #preloader-text {
      display: block;
      text-transform: uppercase;
      text-indent: .6em;
    }

}

&.page-loaded:not(.preload-quick) #preloader {
  animation: fade-out 1s ease-out 1500ms both;

  #preloader-icon,
  #preloader-text {
    animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 700ms both;
  }
}

&.preload-quick #preloader {
  display: none !important;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes puff-out-center {
  0% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    filter: blur(1px);
    opacity: 0;
  }
}



