/* Flex stripes */
.stripe {
    z-index: $level-10;
    display: flex;
    flex-direction: column;

    > div {
        height: auto;
        flex-grow: 1;
    }

    padding-bottom: 50px;

    @media screen and #{$screen-md-up} {
        padding-bottom: 70px;
    }
}

.stripe {
    position: fixed;
}

&.admin-bar {
    .stripe {
        margin-top: $admin-bar-height;
    }
}

#main-content,
.page-template-one-page-blade #site-header + .container,
.page-template-one-page-blade #site-header + .hero + .container  {
    padding-left: 10px;

    @media #{$screen-sm-up} {
        padding-left: 17px;
    }

    @media #{$screen-md-up} {
        padding-left: 20px;
    }

    @media #{$screen-lg-up} {
        padding-left: 25px;
    }
}
