/* Flex stripes */
.stripe {
    display: flex;
    flex-direction: column;

    > div {
        height: auto;
        flex-grow: 1;
    }

    padding-bottom: 50px;

    @media screen and #{$screen-md-up} {
        padding-bottom: 70px;
    }
}

.stripe {
    position: fixed;
}

&.admin-bar {
    .stripe {
        margin-top: $admin-bar-height;
    }
}
