.modularity-mod-timeline {
    margin-top: 2em;

    .box-panel > .box-content > .timeline > .timeline-event > .timeline-date {
        @media screen and (min-width: 769px) {
            font-weight: 700;
            font-size: 2.6em;
            width: calc(50% - 1em);
        }
    }

    .animated {
        animation: fade-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-delay: 0s;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-name: fade-in-bottom;
        opacity: 1;
    }

    .animate {
     opacity: 0;
    }
}
