.modularity-mod-timeline {
    margin-top: 2em;

    .box-panel, .box-content  {
        box-shadow: none !important;
        border: none !important;
    }

    .timeline-date {
        @media screen and (min-width: 769px) {
            font-weight: 700;
            font-size: 2.6em;
            width: calc(50% - 1em);
        }
    }
}
