[data-tooltip] {
    &:after {
        padding: .7em 1em;
        font-size: 16px;
        background-color: $palette-1;
    }

    &:before {
        border-right-color: $palette-1;
        border-width: 10px;
    }
}
