$black: #000;
$white: #fff;


// ***************************************************************
// *** Z-index levels
// ***************************************************************

$level-top:     99999;
$level-10:      10000;
$level-9:       9000;
$level-8:       8000;
$level-7:       7000;
$level-6:       6000;
$level-5:       5000;
$level-4:       4000;
$level-3:       3000;
$level-2:       2000;
$level-1:       1000;
$level-bottom:  1;


// *** Blue color palette

$palette-1: #4db4e7;
$palette-1-safe: #005c86;
$palette-1-text: #000;

$palette-2: #0069b4;
$palette-2-safe: #0069b4;
$palette-2-text: #fff;

$palette-3: #5ba1d8;
$palette-3-safe: #005c86;
$palette-3-text: #000;

$palette-4: #005c86;
$palette-4-safe: #005c86;
$palette-4-text: #fff;

$palette-5: #0095db;
$palette-5-safe: #0069b4;
$palette-5-text: #000;

// *
// * 1. Breakpoints
// * 2. Media Queries
// * 3. Gutter
// *

// ***************************************************************
// *** 1. Breakpoints
// ***************************************************************

$screen-xs-min: 0;
$screen-xs-max: 468px;

$screen-sm-min: $screen-xs-max + 1;
$screen-sm-max: 768px;

$screen-md-min: $screen-sm-max + 1;
$screen-md-max: 960px;

$screen-lg-min: $screen-md-max + 1;
$screen-lg-max: 1280px;

$screen-xl-min: $screen-lg-max + 1;
$screen-xl-max: 1600;

// ***************************************************************
// *** 2. Media Queries
// ***************************************************************

$screen-xs: "(min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max})";
$screen-xs-up: "(min-width: #{$screen-xs-min})";
$screen-below-xs: "(max-width: #{$screen-xs-min})";

$screen-sm: "(min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";
$screen-sm-up: "(min-width: #{$screen-sm-min})";
$screen-below-sm: "(max-width: #{$screen-sm-min})";

$screen-md: "(min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
$screen-md-up: "(min-width: #{$screen-md-min})";
$screen-below-md: "(max-width: #{$screen-md-min})";

$screen-lg: "(min-width: #{$screen-lg-min})";
$screen-lg-up: "(min-width: #{$screen-lg-min})";
$screen-below-lg: "(max-width: #{$screen-lg-min})";

$screen-xl: "(min-width: #{$screen-xl-min})";
$screen-xl-up: "(min-width: #{$screen-xl-min})";
$screen-below-xl: "(max-width: #{$screen-xl-min})";

// ***************************************************************
// *** 3. Gutter
// ***************************************************************

$grid-gutter-xs: 10px;
$grid-gutter-sm: 10px;
$grid-gutter-md: 30px;
$grid-gutter-lg: 30px;

// ***************************************************************
// *** 4. Navbar
// ***************************************************************
$nav-height: 60px;
$navbar-md-height: 70px;


$admin-bar-height: 32px;

// ***************************************************************
// *** 5. Elevator navigation & Strpe
// ***************************************************************

$stripe-xs-width: 10px;
$stripe-sm-width: 17px;
$stripe-md-width: 20px;

$elevator-nav-width: 120px;

