$black: #000;
$white: #fff;

// ***************************************************************
// *** Z-index levels
// ***************************************************************

$level-top:     99999;
$level-10:      10000;
$level-9:       9000;
$level-8:       8000;
$level-7:       7000;
$level-6:       6000;
$level-5:       5000;
$level-4:       4000;
$level-3:       3000;
$level-2:       2000;
$level-1:       1000;
$level-bottom:  1;


// *** Blue color palette

$palette-1: #4db4e7;
$palette-1-safe: #005c86;
$palette-1-text: #000;

$palette-2: #0069b4;
$palette-2-safe: #0069b4;
$palette-2-text: #fff;

$palette-3: #5ba1d8;
$palette-3-safe: #005c86;
$palette-3-text: #000;

$palette-4: #005c86;
$palette-4-safe: #005c86;
$palette-4-text: #fff;

$palette-5: #0095db;
$palette-5-safe: #0069b4;
$palette-5-text: #000;
