html {
    min-height: 100vh;
    background: #fff;
}

body {
    min-height: 100vh;
    padding-bottom: 70px;

    @media #{$screen-sm-up} {
        &[class*="virtual-section"] {
            margin-left: 80px;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
	color: $palette-4;
}

.weight-light {
	font-weight: 300;
}

.weight-medium {
	font-weight: 500;
}

.weight-bold {
	font-weight: 700;
}

